<!DOCTYPE html>
<html ng-app="userProfiles">

<head>
  <meta charset="utf-8">
  <title>mini-userProfiles</title>
  <link rel="stylesheet" href="styles.css"></link>
</head>

<body ng-controller="MainController">


  <div ng-repeat="user in users track by $index" ng-class="{favorite: user.isFavorite}">
      <!-- // ng-class is looking at the .favorite class in the css file, user.isFavorite determines if the class is aplied or not. True applies the class, false doesn't apply the class. By default, the class is not applied -->

    <img ng-src="{{user.avatar}}"> {{user.first_name}} {{user.last_name}}
    <button ng-click="toggleFavorite($index)">Favorite</button>
    <button ng-click="removeUser($index)">Delete</button>

  </div>






  <!-- //// END BODY //// -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
  <!-- TAKE OUT .MIN IN ANY CDNs AND YOU'LL HAVE BETTER ERROR MSGS IN THE CONSOLE :) -->
  <!-- //// YOUR APP WILL ALWAYS BE LISTED BEFORE YOUR CTRLs and SVCs //// -->
  <script src="app.js"></script>
  <script src="controller.js"></script>
  <script src="mainService.js"></script>

</body>

</html>
